body {
	color: #FFF;
	background-color: #000;
	font-size: 8pt;
	font-family: sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	padding: 0;
	margin: 0;
}

.host {
	float: left;
}

.server {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

.server.large {
	width: 100%;
}

.server .label {
	float: left;
	width: 100px;
	clear: left;
}

.server .value {
}

.server .info {
	padding: 5px;
}

.server .value {
	overflow: hidden;
	white-space: nowrap;
}

.graphs li {
	display: inline;
}

.graphs {
	clear: right;
}

#sidebar {
	float: left;
	width: 15%;
	background-color: #333;
	padding: 5px;
}

.servers {
	float: left;
	width: 82%;
	margin-left: 10px;
}

.search {
	border: 0;
	margin: 0;
}

.search .pools {
	width: 100%;
	font-size: 10pt;
}

.timerange {
	/*margin-bottom: 20px;*/
}

.timerange li, .graphtype, .size li {
	margin-top: 5px;
	background-color: #555;
	color: #DDD;
	text-align: center;
	width: 100%;
	line-height: 25px;
	cursor: pointer;
}

.graphtype {
	text-align: left;
	padding-left: 5px;
}

.graphtypes {
}

.group .category {
	display: none;
}

.group h3 {
	width: 100%;
	display: block;
	text-align: center;
	cursor: pointer;
	line-height: 25px;
	background-color: #000;
	margin: 0;
	margin-top: 5px;
}

.group {
	width: 100%;
}

.timerange .selected {
	background-color: #157419;
}

.size .selected {
	background-color: #157419;
}

.graphtype.selected {
	background-color: #741519;
}
