{% extends "base.html" %}

{% block page_title %}Search{% endblock %}

{% block content %}
<form action="/search">
<fieldset>
	<label for="pools"><input type="text" name="pools" value="{{ query }}" />
	<input type="submit" value="Search" />

	<div class="timerange"><a href="/search/1?pools={{ query }}">1 hour</a> <a href="/search/6?pools={{ query }}">6 hours</a> <a href="/search/12?pools={{ query }}">12 hours</a> <a href="/search/24?pools={{ query }}">1 day</a> <a href="/search/168?pools={{ query }}">1 week</a></div>
</fieldset>
</form>

<ul>
{% for server in servers if server.dnsname %}
	<li class="server">
		<div class="info">
			<div class="label">Name:</div>
			<div class="value">{{ server.name }}</div>

			<div class="label">IP:</div>
			<div class="value">{{ server.ip|join(', ') }}</div>

			<div class="label">DNS name:</div>
			<div class="value">{{ server.dnsname|join(', ') }}&nbsp;</div>

			{% if server.parents %}
			<div class="label">Parents:</div>
			<div class="value">{{ server.parents|join(', ') }}</div>
			{% endif %}

			{% if server.contents %}
			<div class="label">Contents:</div>
			<div class="value">{{ server.contents|join(', ') }}</div>
			{% endif %}
		</div>

		{% if server.dnsname %}
		<ul class="graphs">
			{% for graphtype in graphtypes %}
			<li><a href="/host/{{ server.dnsname.0 }}"><img src="/graph/all/{{ server.dnsname.0 }}/{{ graphtype }}?size=small&start={{ start }}&end={{ end }}" alt="{{ server.name }} {{ graphtype }}" /></a></li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
{% endfor %}
</ul>
{% endblock %}
